body {
  background-image: url("assets/jon-ly-VDdWUSSPPeg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  max-width: 300px;
  font-family: "Architects Daughter", cursive;
  margin-bottom: 30px;
}
